<style>
.left-bar{
  background-color:black;
 

}
</style>
<div class="jumbotron text-center">
  <h1>eConstructors!!</div>
</div>

<div class="row">
  <div class="col-sm-4 left-bar">.col-sm-4</div>
  <div class="col-sm-4">.col-sm-4</div>
  <div class="col-sm-4">.col-sm-4</div>
</div>
